.mobile
  @media screen and (min-width: 768px)
    display: none
.mobile-tablet
  @media screen and (min-width: 1280px)
    display: none
.tablet
  display: none
  @media screen and (min-width: 768px)
    display: block
.desktop
  display: none
  @media screen and (min-width: 1280px)
    display: block

.sticky
  position: -webkit-sticky
  position: sticky
  top: 0px
  z-index: 9